<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <button class="addBtn " (click)="openDialog()">
                    Add new Product
                </button>
            </div>
        </div>
        <hr>
        <div class="row my-3 g-3">
            <h2 class="my-3">All Products</h2>
            <div class="col-md-3">

                <div class="card bg-light">
                    <img src="../../../assets/images/no-image.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">product name</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of
                            the card's content.
                        </p>

                        <div class="d-flex justify-content-between align-items-center my-2">
                            <button class="editButton me-3">Edit product</button>
                            <button class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                        </div>
                    </div>


                </div>

            </div>

        </div>
        <app-add-product-form></app-add-product-form>
    </div>


</div>