<div class="conatiner-fluid">
  <div class="dashboard d-flex justify-content-around align-items-center">
   <div class="text" width="50%">
    <h1>Welcome to <br>
      the Admin Dashboard</h1>
      <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat quam fuga voluptates! <br>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, aut.
      </p>
   </div>
<div class="header-img " >
  <img src="../../../assets/images/Dashboard-pana.png"  alt="">
</div>
  </div>
</div>
  