

.dashboard {
    color:rgb(5, 35, 61);
background-color:  rgba(197, 255, 149,0.4);
border-radius: 15px;
margin: 20px;
  }
  
  .dashboard h1 {
    margin-bottom: 20px;
  }
  

  
  img{
    width: 350px;
    height: 350px;
    object-fit: contain;
  }