.dashboard {
    padding: 20px;
    color:#05233d;

  }
  
  .dashboard h1 {
    margin-bottom: 20px;
  }
  
  .dashboard button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dashboard button:hover {
    background-color: #0056b3;
  }
  